{% extends "base.html" %}

{% block breadcrumbs %}
  {{ macros.breadcrumb(
      ('Categories', url_for('categories.index')),
      (category.name, url_for('categories.details', cid=category.id))) }}
{% endblock %}

{% block content %}
  <h3>{{ category.name }}</h3>
  <p>{{ category.description }}</p>
  <h4 class="inline-element">Items</h4>

  {{ macros.link_button(
      method="GET", url=url_for('items.add'),
      text="Add Item", class="safe", disabled=(not can_create_item),
      query_params=(('cid', category.id),)) }}

  {% if category.items %}
    <ul>
      {% for item in category.items %}
        <li><div>
          <a href="{{ url_for('items.details', iid=item.id) }}">
            {{item.name}}
          </a>
          <span class="small-text">
            - added by
            {% if session.app_user_id == item.app_user_id %}
              you
            {% else %}
              {{ item.app_user.name }}
            {% endif %}
          </span>
        </div></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No items</p>
  {% endif %}
{% endblock %}