{% extends "base.html" %}

{% block breadcrumbs %}
  {{ macros.breadcrumb(
      ('Categories', url_for('categories.index')),
      (category.name, url_for('categories.details', cid=category.id))) }}
{% endblock %}

{% block content %}
  <h3>{{ category.name }}</h3>
  <p>{{ category.description }}</p>
    <a href="{{ url_for('items.add', cid=category.id) }}">
      <button {% if not can_create_item %}disabled{% endif %}>
        Add Item
      </button>
    </a>
  <ul>
    {% for item in category.items %}
      <li><div>
        <a href="{{ url_for('items.details', iid=item.id) }}">
          {{item.name}}
        </a>
        <br>
        <span>Created by </span>
        {% if session.app_user_id == item.app_user_id %}
          <span>you</span>
        {% else %}
          <span>{{ item.app_user.name }}</span>
        {% endif %}
      </div></li>
    {% endfor %}
  </ul>
{% endblock %}