[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
bleach = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
click = "*"
google-auth = "*"
"html5lib" = "*"
"httplib2" = "*"
idna = "*"
itsdangerous = "*"
"oauth2client" = "*"
oauthlib = "*"
passlib = "*"
"psycopg2-binary" = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
pycurl = "*"
pyparsing = "*"
python-dateutil = "*"
python-debian = "*"
python-decouple = "*"
python-dotenv = "*"
python-editor = "*"
python-systemd = "*"
redis = "*"
requests = "*"
rsa = "*"
six = "*"
ssh-import-id = "*"
"urllib3" = "*"
virtualenv = "*"
webencodings = "*"
Flask = "*"
Flask-HTTPAuth = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
"Jinja2" = "*"
Mako = "*"
MarkupSafe = "*"
PyGObject = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[dev-packages]

[requires]
python_version = "3.7"
