alembic==1.0.0
cachetools==2.1.0
chardet==2.3.0
click==6.7
Flask==1.0.2
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
google-auth==1.5.1
httplib2==0.11.3
itsdangerous==0.24
Jinja2==2.10
language-selector==0.1
Mako==1.0.7
MarkupSafe==1.0
oauth2client==4.1.2
oauthlib==2.1.0
psycopg2-binary==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1
python-dateutil==2.7.3
python-debian==0.1.27
python-decouple==3.1
python-dotenv==0.9.1
python-editor==1.0.3
python-systemd==231
requests==2.9.1
rsa==4.0
six==1.10.0
SQLAlchemy==1.2.10
ssh-import-id==5.5
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
Werkzeug==0.14.1
WTForms==2.2.1
