{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div id="signin-button" class="g-signin2"></div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    function onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', window.location.href);
      xhr.addEventListener('loadend', loadEndHandler);
      xhr.setRequestHeader(
          'Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('id_token=' + id_token);
    };
  </script>
{% endblock %}
