{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <meta name="google-signin-client_id" content="690406881901-cdc086p9iojoad5l0s6ge0etg4m14mdf.apps.googleusercontent.com">
  <meta name="google-signin-scope" content="profile email">
{% endblock %}

{% block header %}
  <div class="login-title-div center-text">
    <h2 class="login-title">Item Catalog</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="login-form center-text">
    <h3>Log in</h3>
    <div id="signin-button" class="g-signin2" data-onsuccess="onLogIn"></div>
  </div>
  <div class="center-text">
    <p class="smaller-text">Or go directly to <a href="{{ url_for('categories.index') }}">Categories</a></p>
    <p class="smaller-text"><b>Note:</b> You won't be able to modify items unless you are logged in</p>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    function onLogIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', window.location.href);
      xhr.addEventListener('loadend', loadEndHandler);
      xhr.setRequestHeader(
          'Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('id_token=' + id_token);
    };
  </script>
{% endblock %}
