<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div id="header">
      {% block header %}
        <h3>Header</h3>
      {% endblock %}
    </div>
    <div id="content">
      {% block messages %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <h3>Footer</h3>
      {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
